<li>
    <div class="view">
        <f-checkbox value="{{completed}}" class="toggle"></f-checkbox>
        <label name="view" hook="doubleClick">{{title}}</label>
        <button name="destroy" class="destroy" hook="click"></button>
    </div>
    <form>
        <f-textbox name="edit" value="{{title}}" hook="blur"></f-textbox>
    </form>
</li>
